chevron
click>=8.0
feather-format
filelock
ipywidgets
dsspy>=2.1.1
opendssdirect.py>=0.3.7
openpyxl
pandas
psutil>=5.6.2
prettytable
pydantic>=1.6.0
pyyaml
sqlalchemy
toml>=0.10.0
xlrd
unidecode>=1.2.0
sklearn
NREL-jade
